<a href="https://colab.research.google.com/github/ttsuneoka/GoogleColab/blob/master/Chapter8_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests,zipfile
import io
import pandas as pd

# data load
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
res = requests.get(url).content

In [ ]:
adult = pd.read_csv(io.StringIO(res.decode('utf-8')),header=None)

In [ ]:
adult.head()

   0                  1       2           3   ...  11  12              13      14
0  39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
1  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
2  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
3  53            Private  234721        11th  ...   0  40   United-States   <=50K
4  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
adult.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'material-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'flg-50K']

In [ ]:
print('data style:{}'.format(adult.shape))
print('number of lack data:{}'.format(adult.isnull().sum().sum()))

data style:(32561, 15)
number of lack data:0

In [ ]:
adult.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country flg-50K
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
adult.groupby('flg-50K').size()

flg-50K
 <=50K    24720
 >50K      7841
dtype: int64

In [ ]:
adult['fin_flg']=adult['flg-50K'].map(lambda x: 1 if x == ' >50K' else 0)

In [ ]:
adult.groupby('fin_flg').size()

fin_flg
0    24720
1     7841
dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = adult[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']]
y = adult['fin_flg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

model = LogisticRegression()
model.fit(X_train, y_train)

print('Accuracy rate(train):{:.3f}'.format(model.score(X_train, y_train)))
print('Accuracy rate(test) :{:.3f}'.format(model.score(X_test, y_test)))

Accuracy rate(train):0.797
Accuracy rate(test) :0.798

In [ ]:
print(model.coef_)

[[-1.18545968e-02 -4.37932054e-06 -2.77432658e-03  3.27384955e-04
   7.53237842e-04]]

In [ ]:
import numpy as np
print(np.exp(model.coef_))

[[0.98821539 0.99999562 0.99722952 1.00032744 1.00075352]]

In [ ]:
#nomalization
from sklearn.preprocessing import  StandardScaler
from sklearn.model_selection import train_test_split

X = adult[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']]
y = adult['fin_flg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

sc =StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

model = LogisticRegression()
model.fit(X_train_std, y_train)

print('Accuracy rate(train):{:.3f}'.format(model.score(X_train_std, y_train)))
print('Accuracy rate(test) :{:.3f}'.format(model.score(X_test_std, y_test)))

Accuracy rate(train):0.811
Accuracy rate(test) :0.810

In [ ]:
print(X_train)

       age  fnlwgt  education-num  capital-gain  capital-loss
7872    81  162882              9             0             0
31180   75   98116             10             0             0
25875   62  115387              9             0             0
4345    56  115422              9             0             0
15278   44   74680             10          5178             0
...    ...     ...            ...           ...           ...
13123   43   33331             14             0             0
19648   44   98466              6             0             0
9845    23   45317             10             0             0
10799   45  215862             16          7688             0
2732    25  186925             10          2597             0

[16280 rows x 5 columns]