<a href="https://colab.research.google.com/github/ttsuneoka/GoogleColab/blob/master/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_func():
    pass

In [ ]:
my_func()

In [ ]:
my_func

In [ ]:
def my_func(x):
    pass

In [ ]:
my_func(1)

In [ ]:
def my_func(x):
    return x

In [ ]:
my_func(1)

1

In [ ]:
my_func('test')

'test'

In [ ]:
def my_func(x):
    x.append(1)

In [ ]:
my_list = [0, 1, 2, 3]
my_func(my_list)
print(my_list)

[0, 1, 2, 3, 1]

In [ ]:
def my_func(x):
    result = [0]
    return result * x

In [ ]:
print(my_func(5))

[0, 0, 0, 0, 0]

In [ ]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b , a+b

In [ ]:
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [ ]:
def fib2(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [ ]:
fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [ ]:
def house_for_rent(bedrooms, walk_min, house_type, rent_yen):
    return {'bedrooms': bedrooms, 'walk_min': walk_min, 'house_type': house_type, 'rent_yen': rent_yen}

In [ ]:
house_for_rent(2, 15, 'apartment house', 50)

{'bedrooms': 2,
 'house_type': 'apartment house',
 'rent_yen': 50,
 'walk_min': 15}

In [ ]:
house_for_rent(2, 'apartment house', 2, 100)

{'bedrooms': 2,
 'house_type': 2,
 'rent_yen': 100,
 'walk_min': 'apartment house'}

In [ ]:
house_for_rent(bedrooms=2, house_type='apartment house', walk_min=2, rent_yen=100)

{'bedrooms': 2,
 'house_type': 'apartment house',
 'rent_yen': 100,
 'walk_min': 2}

In [ ]:
def house_for_rent(bedrooms=2, walk_min=6, house_type='apartment house', rent_yen=50):
    return {'bedrooms': bedrooms, 'walk_min': walk_min, 'house_type': house_type, 'rent_yen': rent_yen}

In [ ]:
house_for_rent()

{'bedrooms': 2, 'house_type': 'apartment house', 'rent_yen': 50, 'walk_min': 6}

In [ ]:
house_for_rent(5, house_type='flat')

{'bedrooms': 5, 'house_type': 'flat', 'rent_yen': 50, 'walk_min': 6}

In [ ]:
def show_args(*args):
    print('Positional arguments:', args)
    return args

In [ ]:
show_args(1, 3, 5, 'Hello')

Positional arguments: (1, 3, 5, 'Hello')

(1, 3, 5, 'Hello')

In [ ]:
def show_kwargs(**kwargs):
    print('Keyword arguments:', kwargs)
    return kwargs

In [ ]:
show_kwargs(pasta='penne', drink='red wine', main_dish='meat dish', n_customers=3)

Keyword arguments: {'pasta': 'penne', 'drink': 'red wine', 'main_dish': 'meat dish', 'n_customers': 3}

{'drink': 'red wine',
 'main_dish': 'meat dish',
 'n_customers': 3,
 'pasta': 'penne'}

In [ ]:
positional_args = (4, 5, 6, 'ya')
show_args(*positional_args)

Positional arguments: (4, 5, 6, 'ya')

(4, 5, 6, 'ya')

In [ ]:
positional_args = [4, 5, 6, 'ya']
show_args(*positional_args)

Positional arguments: (4, 5, 6, 'ya')

(4, 5, 6, 'ya')

In [ ]:
keyword_args = {'pasta':'penne', 'drink':'red wine', 'main_dish':'meat dish', 'n_customers':3}
show_kwargs(**keyword_args)

Keyword arguments: {'pasta': 'penne', 'drink': 'red wine', 'main_dish': 'meat dish', 'n_customers': 3}

{'drink': 'red wine',
 'main_dish': 'meat dish',
 'n_customers': 3,
 'pasta': 'penne'}

In [ ]:
animal = 'cat'
print("animal:", animal)

def my_func():
    vegetable = 'carrot'
    print("animal in my_func:", animal)
    print("vegetable in the func:", vegetable)

my_func()

animal: cat
animal in my_func: cat
vegetable in the func: carrot

In [ ]:
animal = 'cat'
print("animal:", animal)

def my_func():
    animal = 'dog'
    print("animal in my_func:", animal)

my_func()
print("animal global after my_func:", animal)

animal: cat
animal in my_func: dog
animal global after my_func: cat

In [ ]:
animal = 'cat'
print("animal:", animal)

def my_func_alter():
    global animal
    animal = 'dog'
    print("animal in my_func_alter:", animal)

my_func_alter()
print("animal global after my_func_alter:", animal)

animal: cat
animal in my_func_alter: dog
animal global after my_func_alter: dog

In [ ]:
def say_hello():
    print('Hello')

say_hello()

Hello

In [ ]:
def run_any_func(func):
    for i in range(3):
        func()

run_any_func(say_hello)

Hello
Hello
Hello

In [ ]:
def multi_func(number):
    if number == 0:
        print('min', end=" ")
        return min
    if number == 1:
        print('max', end=" ")
        return max
    else:
        print('sum', end=" ")
        return sum

num_list = [1, 2, 3, 4]
for i in [0, 1, 2]:
    func = multi_func(i)
    print(func(num_list))

min 1
max 4
sum 10